$maxPoints: 30;

.wrapper {
	max-width: 1080px;
	margin: 40px auto;
}
.timeline {
	width: 100%;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 12px;
	color: #ccc;
	transition: all 0.6s linear;

	&__step {
		flex-grow: 1;
		position: relative;
		margin-right: -5px;
		line-height: 2em;
		border-bottom: 1px solid #ccc;

		span {
			display: block;
			text-align: center;
		}
		&:before, &:after {
			content: '';
			position: absolute;
			width: 5px;
		    height: 5px;
		    background: #ccc;
		    bottom: -3px;
		    border-radius: 50%;
		}

		&:before {
			left: 0;
		}
		&:after {
			right: 0;
		}


		&-active {
			border-color: #008000;
			&:before, &:after { 
				background-color: #008000;
			}

		}

		&-progress {
			border-color: #ffa500;

			&:before, &:after {
				background-color: #ffa500;
			}
		}


	}



	&__label-onpoint {
		justify-content: space-between;
	}
	&__label-onpoint &__step{
		flex-grow: 1;
		    &:last-child{
		      flex-grow: 0;
		    }

		    &:not(:last-child):not(:first-child) span {
			    transform: translateX(-50%);
			}

		span {
			display: inline-block;
		    text-align: center;
		    position: relative;
		
			&:before, &:after {
				content: '';
				position: absolute;
				width: 5px;
			    height: 5px;
			    background: #ccc;
			    bottom: -3px;
			    border-radius: 50%;
				left: calc(50% - 5px);
			}
		}

		&:first-child > span {
			&:before, &:after { 
				left: 0;
			}
		}

		&:last-child > span {
			&:before, &:after { 
				left: calc(100% - 5px);
			}
		}

		&:before, &:after {
			content: '';
			position: absolute;
			display: none;

		}

		&-active  {

      		border-color: #008000;
			span {
				&:before, &:after { 
					background-color: #008000;
				}
			}

		}

		&-progress  {

      		border-color: #ccc;
			span {
				&:before, &:after { 
					background-color: #ffa500;
				}
			}

		}


	}
	
	&__label-onbottom{
		span { 
			margin-bottom: -25px;
		}
	}

	
	
}

.timeline__label-onbottom.timeline__label-onpoint{
		span { 
			bottom: -25px;
			&:before, &:after {
				top: -3px;
			}

		}
	}
