doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Timeline test task
		meta(name='description', content='')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		link(rel='stylesheet', href='css/style.css')
	body
		div.wrapper
			h2 Timeline

			ul.timeline.timeline__label-onpoint
				li.timeline__step.timeline__step-active
					span step 1
				li.timeline__step.timeline__step-active
					span step 2
				li.timeline__step.timeline__step-active
					span step 3
				li.timeline__step.timeline__step-active
					span step 4
				li.timeline__step.timeline__step-progress
					span step 5
				li.timeline__step
					span step 6
		


